extends ../layouts/base.pug

block head
    title Cart 

block body
    if cart.length
        table 
            tr 
                th Product 
                th Price
                th Action
            each product in cart 
                tr 
                    td #{product.product.title}
                    td $#{product.product.price}
                    td 
                        form(action="/shop/cart", method="post") 
                            input(type="hidden", name="user_id", value=`${product.userId}`)
                            input(type="hidden", name="product_id", value=`${product.productId}`)
                            input(type="submit", value="Remove")
        h2 Cart Total: $#{total}
        form(action="/shop/new-order", method="post")
            input(type="submit", value="Checkout")
    else
        h1 Your cart is empty 
        a(href="/shop/all-products") Shop Something