extends ../layouts/base.pug

block head
    title #{product.title}

block body
    main
        h1 #{product.title}
        img(src=`${product.image}`, alt=`${product.title}`)
        h2 $#{product.price}
        p #{product.description}
        form(method="post")
            input(type="hidden", name="product_id", value=`${product.id}`)
            input(type="submit", value="Add to Cart")